__pycache__
.pytest_cache
.vscode
.idea
.vim
.ipynb_checkpoints
*.pyc

# the Drawio backup files
*.bkp
*.dtmp


# --- ignore specific dirs/files -----
# part of the data
./data/

# the temp dir
temp/

# ignore chekcpoints (as they can be large)
models/checkpoints/


